body {
    background-color:indianred;
    color:red;
}
a:visited {
    color:orange;
}

a:link {
    color:yellow;
}

a:hover{
    color:blue;
    
}

a {
    text-decoration:none;
}

p {
    text-decoration:underline;
    font-family: "monospace";
}

